<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>게시판 관리</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
	<h1>관리자님 환영합니다.^^</h1>
	<h4>게시 글 목록으로 <a th:href="@{/board/getBoardList}">이동</a></h4>
</body>
</html>